/* sans serif */
/* @import "@fontsource-variable/noto-sans-jp/index.css";
@import "@fontsource-variable/outfit/index.css"; */

/* @import "@fontsource-variable/outfit"; */
/* @import "@fontsource-variable/noto-sans"; */
/* @import "@fontsource-variable/vazirmatn"; */

/* Mono */
/* @import "@fontsource-variable/jetbrains-mono/index.css";
@import "@fontsource-variable/fira-code/index.css"; */

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    winter --default,
    dim --prefersdark;
}

@plugin "daisyui/theme" {
  name: "winter";
  --font-sans: "Outfit Variable";
  --font-mono: "JetBrains Mono Variable";
  --font-title: "Outfit Variable";
}

@plugin "daisyui/theme" {
  name: "dim";
  --font-sans: "Noto Sans JP Variable";
  --font-mono: "Fira Code Variable";
  --font-title: "Noto Sans JP Variable";
}

@utility container {
  padding-inline: 10px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
  }

  @variant lg {
    padding-inline: 80px;
  }

  @variant xl {
    padding-inline: 120px;
  }
}

/* @layer base {
  html {
    font-family: var(--font-sans);
  }
} */
