---
import { getCollection } from "astro:content";
import BlogPost from "@/components/BlogPost.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogCard from "@/components/BlogCard.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout pageTitle={tag}>
  <h2 class="text-2xl">
    Posts tagged with

    <span class="badge badge-soft badge-primary no-underline mr-2">
      {tag}
    </span>
  </h2>

  <br />

  <div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-12">
    {posts.map((post) => <BlogCard entry={post} />)}
  </div>
</BaseLayout>
