---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogCard from "@/components/BlogCard.astro";
import SVGArrowIrght from "@/assets/svg/arrow-right.svg";

const allPosts = await getCollection("blog");

allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const pageTitle = "Coins5's Blog";

const firstPost = allPosts[0];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="p-12">
    <h1 class="text-white uppercase text-4xl font-bold leading-loose">
      <span class="bg-gray-900 box-decoration-clone px-2 py-1">
        {firstPost.data.title}
      </span>
    </h1>

    <div class="card-actions justify-end">
      <a href="asdas" class="btn btn-primary uppercase">
        Read more <SVGArrowIrght height="24px" /></a
      >
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-12">
    {allPosts.map((post) => <BlogCard entry={post} />)}
  </div>
</BaseLayout>
