---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "@coins5";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="text-3xl text-center uppercase font-sans">
    Hi there, i'm Marlon
  </div>
  <!-- <div class="text-9xl">Full stack</div>
  <div class="text-9xl">Developer</div> -->

  <div class="mt-12 text-5xl text-accent font-bold font-sans text-center">
    Full stack developer &lt;/ &gt;
  </div>

  <div class="text-sm font-mono px-24 mt-12 text-center">
    I create digital experiences with the mind of an engineer and the soul of a
    builder — thoughtful, elegant, and scalable.
  </div>
</BaseLayout>
<style>
  .larger {
    transform: scaleY(5);
    display: inline-block;
  }
</style>
