---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
const arrMessages = ["Hi", "Hello", "Howdy", "Hey there"];
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class="text-xl">My awesome blog subtitle</h2>
</BaseLayout>
