---
import type { BlogSchema } from "@/schemas/blog";
import { Image } from "astro:assets";

const { entry } = Astro.props;
const { data } = entry;
const post = data as BlogSchema;
---

<div class="card bg-base-100 shadow-sm">
  <hr />

  <figure>
    <img src={post.image.url} alt={post.image.alt} />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{post.title}</h2>
    <p>
      {post.description}
    </p>
  </div>
</div>
