---
import { Image } from "astro:assets";
import coins5dev from "@/assets/images/coins5.dev.png";
---

<footer
  class="footer footer-horizontal footer-center bg-primary text-primary-content p-10"
>
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover" href="/">Home</a>
    <a class="link link-hover" href="/about">About</a>
    <a class="link link-hover" href="/blog">Blog</a>
    <a class="link link-hover" href="/tags">Tags</a>
    <a class="link link-hover" href="/rss.xml">RSS</a>
  </nav>
  <aside>
    <Image
      src={coins5dev}
      alt="Providing reliable tech since 2012"
      width="128"
    />
  </aside>
  <p class="font-bold">Providing reliable tech since 2012</p>
  <p>Coins5 © 2012 - {new Date().getFullYear()}</p>
</footer>
