---
import TimelineEntry from "./timeline_entry.astro";
---

<ul
  class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
>
  <TimelineEntry date="2024" title="Desarrollador independiente" position="LEFT">
    <span class="font-semibold">
      Desarrollador Full Stack
    </span>

    <br />
    Hago desarrollos independientes usando Python, Typescript y Flutter (Dart)
    <br />
    <br />
    <a href="https://app.mulsi.io" target="_blank">Mulsi</a> Es un sistema que permite compara precios de distintos super mercados
    <br />
    <br />
    <a>Calopla</a>. Es un sistema que usa IA para generar planes alimenticios de acuerdo a las necesidades del usuario. También integra una plataforma para que el usuario pueda ser asistido por un nutricionista que usará el sistema como plataforma de control (DEMO Pronto)
    <br />
    <br />
    <a>MonkeyTalk</a>. Es una IA para vendedores (aún en fase alfa). Es una sistema que se puede conectar a plataformas de mensajería, cuando un usuario preguntra sobre un producto, la IA se encarga de responder todas sus dudas. Cuando el usuario está listo para comprar y recibir su producto se le notifica al vendedor para que pueda hacer el cobro y programar el despacho (DEMO Pronto)
    <br />
    <br />
    
  </TimelineEntry>

  <TimelineEntry date="2020" title="Integramos Machine Learning e IA" position="RIGHT">
    <span class="font-semibold">
      Desarrollador Full Stack + Automatizaciones + Admin de servidores y servicios
    </span>

    <br />
    El equipo crece y ahora somos cerca de 20 personas encargándonos de los requerimientos de los clientes y desarrollo de la plataforma Strategio
    <br />
    <br />
    Usamos Python y TypeScript como lenguajes principales
    <br />
    <br />
    Creamos modelos predictivos usando Python
    <br />
    Mis labores principales son administrar los servidores, desarrollar sistemas internos, explorar y capacitar al personal sobre tecnologías nuevas que usamos en varios de nuestros productos
  </TimelineEntry>

  <TimelineEntry date="2017" title="El equipo crece" position="LEFT">
    <span class="font-semibold">
      Desarrollador Full Stack + Automatizaciones
    </span>

    <br />
    El equipo crece y ahora somos cerca de 10 personas encargándonos de los requerimientos de los clientes
    <br />
    <br />
    Administración de servidores Linux y Windows
    <br />
    <br />
    Se integra Power BI al sistema Strategio para la visualización de reportes web
    <br />
  </TimelineEntry>

  <TimelineEntry date="2015" title="Ganamos el premio Start Up Perú II" position="RIGHT">
    <p>
      <span class="font-semibold">
        Desarrollador Full Stack Strategio
      </span>

      <br />

      En este punto, teníamos algunos clientes además de Kimberly Clark.
      <br />
      Me encargaba de conversar con los clientes para recoger sus requerimientos e implementarlos en sus dashboards

      <br />
      <br />
      <b>En este año se funda Vida Software y Strategio se convierte en su producto principal</b>

    </p>
  </TimelineEntry>

  <TimelineEntry date="2013" title="Inteliventas - Strategio" position="LEFT">
    <p>
      <span class="font-semibold">
        Desarrollador Full Stack Strategio
      </span>

      <br />

      El proyecto estrategio entra en fase de piloto con Kimber Clark.
      Hice los programas que se encargaban de recoger los datos de diferentes partes del país para proporcionar
      dashboards que puedan ser vistos desde el portal de visualización
    </p>
  </TimelineEntry>

  <TimelineEntry date="2012" title="Inteliventas" position="RIGHT">
    <p>
      <span class="font-semibold">
        Soporte técnico
      </span>

      <br />
      Proporcionaba soporte técnico para los sistemas Rex y Thor
    </p>

    <p>
      <span class="font-semibold">
        Desarrollador Full Stack Junior
      </span>

      <br />
      A cargo del proyecto Strategio, es un sistema de inteligencia de negocios.
      <br />
      SQL Server para almacenar y analizar los datos de distintos puntos del país
      <br />
      C# para el proceso ETL y la generación de reportes Excel
      <br />
      PHP, MySQL, HTML, CSS y JS para el portal de visualización de reportes 
    </p>

  </TimelineEntry>
</ul>
